#div1, #div2, #div3,#div4,#div5 {
    float: left;
    width: 74px;
    height: 74px;
    margin: auto;
    position: relative;

}
#div6, #div7, #div8, #div9{
    float: left;
    width: 74px;
    height: 74px;
    margin: auto;
    position: relative;

}
#div0 {
    position: relative;
    height: 228px;
    width: 228px;
    margin: auto;
    padding: 6px;
    background-image: url('image1/board1.png');
    background-size: contain;
}
#drag1, #drag2, #drag3, #drag4 {
    width: 80px;
    height: 80px;
}